<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635068110518-unv2h39mb96ok9dusr5areoro56g0icl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635068110518-unv2h39mb96ok9dusr5areoro56g0icl</string>
	<key>API_KEY</key>
	<string>AIzaSyDJZ-op1LYq60X8Hc2UTsmKCq7M55CySek</string>
	<key>GCM_SENDER_ID</key>
	<string>635068110518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arifaMedikalKlink3</string>
	<key>PROJECT_ID</key>
	<string>arifa-medikal-klinik</string>
	<key>STORAGE_BUCKET</key>
	<string>arifa-medikal-klinik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635068110518:ios:07d1f1a5d80d2741db3817</string>
</dict>
</plist>